body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7f8cd4;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.intro {
    text-align: left;
    max-width: 300px;
    margin-right: 50px;
}

.intro h1 {
    margin: 0;
}

.intro button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.intro button:hover {
    background-color: #271e1e;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9f7e4; /* Light cream color */
    border-radius: 15px;
    border: 2px solid #000; /* Black border */
    color: #000; /* Text color */
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.profile-pic img {
    max-width: 200px;
    border-radius: 10px;
}